{{ result_name }} = MECA_STATIQUE(
    CARA_ELEM={{ cara_elem }},
    CHAM_MATER={{ cham_mater }},
    EXCIT=(
    {%- for excit in excit_list %}
        _F(CHARGE={{ excit.charge }}, TYPE_CHARGE='{{ excit.type_charge }}'),
    {%- endfor %}
    ),
    INFO={{ info }},
    MODELE={{ modele }},
    OPTION='{{ option }}',
    SOLVEUR=_F(
        {%- for key, val in solveur.items() %}
        {{ key }}={{ val|tojson if val is string else val }},
        {%- endfor %}
    ),
);



{% if reaction_extraction %}
{{ result_name }} = CALC_CHAMP(reuse={{ result_name }},
                         RESULTAT={{ result_name }},
                         FORCE=('REAC_NODA',))



REAC_{{ name }} = POST_RELEVE_T(ACTION=_F(OPERATION='EXTRACTION',
                                          INTITULE='Reac_{{ name }}',
                                          RESULTAT={{ result_name }},
                                          NOM_CHAM='REAC_NODA',
                                          GROUP_NO=({% for g in reaction_extraction.groups %}'{{ g }}'{{ ', ' if not loop.last }}{% endfor %}),
                                          RESULTANTE=('DX','DY','DZ'),
                                          MOMENT=('DRX','DRY','DRZ'),
                                          POINT=(0,0,0)))



IMPR_TABLE(TABLE=REAC_{{ name }},
           UNITE={{ reaction_extraction.unit }},
           FORMAT='{{ reaction_extraction.format }}',
           SEPARATEUR='{{ reaction_extraction.separator }}',
           TITRE='REAC_{{ name }}')
{% endif %}
