{{ result_name }} = MECA_STATIQUE(
    CARA_ELEM={{ cara_elem }},
    CHAM_MATER={{ cham_mater }},
    MODELE={{ modele }},
    EXCIT=(
        {%- for item in excit_list %}
        _F(CHARGE={{ item.charge }}, TYPE_CHARGE='{{ item.type_charge }}'),
        {%- endfor %}
    ),
    SOLVEUR=_F(METHODE='{{ solveur.get('methode', 'MULT_FRONT') }}'),
)
