{{ result_name }} = MECA_STATIQUE(CARA_ELEM={{ cara_elem }},
                    CHAM_MATER={{ cham_mater }},
                    {% for item in excit_list %}
                    EXCIT=_F(CHARGE={{ item.charge }},
                             TYPE_CHARGE='{{ item.type_charge }}'),
                    {% endfor %}
                    INFO={{ info }},
                    INST={{ inst }},
                    MODELE={{ modele }},
                    OPTION='{{ option }}',
                    SOLVEUR=_F(ACCELERATION='{{ solveur.acceleration }}',
                               ELIM_LAGR='{{ solveur.elim_lagr }}',
                               GESTION_MEMOIRE='{{ solveur.gestion_memoire }}',
                               LOW_RANK_SEUIL={{ solveur.low_rank_seuil }},
                               MATR_DISTRIBUEE='{{ solveur.matr_distribuee }}',
                               METHODE='{{ solveur.methode }}',
                               NB_RHS={{ solveur.nb_rhs }},
                               NPREC={{ solveur.nprec }},
                               PCENT_PIVOT={{ solveur.pcent_pivot }},
                               POSTTRAITEMENTS='{{ solveur.posttraitements }}',
                               PRETRAITEMENTS='{{ solveur.pretraitements }}',
                               REDUCTION_MPI={{ solveur.reduction_mpi }},
                               RENUM='{{ solveur.renum }}',
                               RESI_RELA={{ solveur.resi_rela }},
                               STOP_SINGULIER='{{ solveur.stop_singulier }}',
                               TYPE_RESOL='{{ solveur.type_resol }}'))
